In [2]:
## Strip a string and give first three letters

def f(s):
    return s.strip()[:3]

In [3]:
f('    geodaddy')

'geo'

In [7]:
## Return list of numbers up to given int

def l(n):
    return list(range(n+1))

In [8]:
l(8)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
## Give average of ints in a given list

def avg(xs):
    return sum(xs)/len(xs)

In [10]:
xs = [1,2,3,4,5,6,7]

avg(xs)

4.0

In [13]:
## switch Plus and minus signs

def switchsign(s):
    return s.replace('-','+')

In [21]:
## Take 0 or more args and subtract last arg from total (if 0, return 0)

def totalsubt(*args):
    return sum(args[:])-args[-1]

In [46]:
totalsubt(0)

0

In [23]:
def totals(*args):
    return sum(args[:])

In [24]:
print(totals(1,2,3,4,5,6,7))

print(totals(1,2,3,4,5,6,7)-7)

28
21

In [25]:
## Find hypotenuse of a right triangle given o and a are perpendicular sides

def hypo(a,o):
    import math
    return math.hypot(o,a)

In [26]:
hypo(3,4)

5.0

In [27]:
# Given sequence L, return a reversed copy using slicing operator

def rev(L):
    return L[::-1]

In [28]:
M = [1,2,3,4,5]

rev(M)

[5, 4, 3, 2, 1]

In [30]:
# Modify list to insert 2 after its first element

M.insert(1,2)
M

[1, 2, 2, 2, 3, 4, 5]

In [31]:
# Remove all items from the list in place

del M[:]

M

[]

In [33]:
# Return every other value from the list starting from second element

M = [0,1,2,3,4,5,6,7,8,9]

M[1::2]

[1, 3, 5, 7, 9]

In [34]:
# Given a list containing an even number of elements, return a list of pairs as follows

def Pair(xs):
    return list(zip(xs[::2],xs[1::2]))

In [40]:
N = Pair(M)
N

[(0, 1), (2, 3), (4, 5), (6, 7), (8, 9)]

In [36]:
# Return the number of times None appears in the list

def CountNone(cs):
    return cs.count(None)

In [37]:
CountNone(M)

0

In [38]:
# Reverse the zip function. Given list containing tuples (a,b),
# return a sqquence (a's, b's) where a's is a seq of all as and b's is a seq of the b

def unzip(xs):
    return list(zip(*xs))

In [41]:
unzip(N)

[(0, 2, 4, 6, 8), (1, 3, 5, 7, 9)]

In [42]:
# If any number in list is divisible by 3, return True, else return False

def Divis(xs):
    return any(filter(lambda x:x%3==0, xs))

In [43]:
Divis(M)

True

In [44]:
# Flatten a list of lists in a single statement
def flat(xs):
    return [j for i in xs for j in i]

In [45]:
flat(N)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Given a list of 20, return a dict in such a way that the keys are the first 10 element
# and values are the last 10 elements of lambda